<h1 id="page_title">All Ingredients</h1>
<br/>

<section id="ingredients">
<% @ingredients.each do |ingredient| %>
  <h3><%= ingredient.name %></h3>
  <p>Cost: $<%= ingredient.cost %></p>
  <br/>
<% end %>
</section>
